
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Quintessent Presentation.iml
/.idea/vcs.xml
/.idea/Automation.iml
/.idea/csv-editor.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
/.idea/shelf/

